<div id="<%= dom_id borrower %>">
  <p>
    <strong>Name:</strong>
    <%= borrower.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= borrower.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= borrower.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= borrower.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= borrower.gender %>
  </p>

</div>
