<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Borrower</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to borrowers_path, class: button_class(theme: "transparent") do %>
      All Borrowers
      <% end %>
      <%= link_to edit_borrower_path(@borrower), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @borrower.name %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @borrower.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @borrower.description %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @borrower.address %></p>
      </li>
      <li>
        <p class="font-semibold">Gender:</p>
        <p><%= @borrower.gender %></p>
      </li>
  </ul>
</div>
