<div id="<%= dom_id book_borrower %>">
  <p>
    <strong>Borrowdate:</strong>
    <%= book_borrower.borrowDate %>
  </p>

  <p>
    <strong>Returndate:</strong>
    <%= book_borrower.returnDate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book_borrower.description %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_borrower.book_id %>
  </p>

  <p>
    <strong>Borrower:</strong>
    <%= book_borrower.borrower_id %>
  </p>

</div>
