<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Book_borrower</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to book_borrowers_path, class: button_class(theme: "transparent") do %>
      All Book_borrowers
      <% end %>
      <%= link_to edit_book_borrower_path(@book_borrower), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Borrowdate:</p>
        <p><%= @book_borrower.borrowDate %></p>
      </li>
      <li>
        <p class="font-semibold">Returndate:</p>
        <p><%= @book_borrower.returnDate %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @book_borrower.description %></p>
      </li>
      <li>
        <p class="font-semibold">Book:</p>
        <p><%= @book_borrower.book.title %></p>
      </li>
      <li>
        <p class="font-semibold">Borrower:</p>
        <p><%= @book_borrower.borrower.name %></p>
      </li>
  </ul>
</div>
